<!DOCTYPE html>
<html>
<head>
  <!-- Material Icons -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <!-- Vuetify -->
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app"
  >
    
    <v-app id="inspire">
      
      <!-- CONTENT -->
      <v-content
      >

        <!--=============================================================-->
        <!-- page (if not loaded)-->
        <!--=============================================================-->
        <v-layout
          column 
          wrap
          style="background-color: #EEEEEE"
          class="px-4 pt-4 pb-3"
          justify-center
          align-center
          fill-height
        >

          <!-- Landing -->
          <v-layout
            column
            align-center
            v-if="state === 'landing'"
          >
            Set your new password.
            <div>
              <v-text-field
                v-model="password"
                label="New Password"
              ></v-text-field>
              <v-text-field
                v-model="password_confirm"
                label="New Password (confirm)"
              ></v-text-field>
            </div>
            <v-btn 
              color="success"
              v-on:click="try_reset_password();"
            >
              Next
            </v-btn>
            <div
              v-if="error !== undefined"
            >
              {{error}}
            </div>
          </v-layout>

        </v-layout>

      </v-content>

    </v-app>
  </div>
 
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

  <script>

    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    // Vue
    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          password: '',
          password_confirm: '',
          error: undefined,
          state: 'landing',
        }
      },
      methods: {
        try_reset_password: function () {
          let vue = this
          vue.error = undefined
          var search_params = new URLSearchParams(window.location.search)
          var password_reset_token = search_params.get('passwordResetToken')
          if (vue.password === vue.password_confirm) {
            fetch("/reset_users_password", {
              body: JSON.stringify({
                passwordResetToken: password_reset_token,
                password: vue.password,
              }),
              method: "POST",
              headers: new Headers({'Content-Type': 'application/json'})
            }).then(function(response){
              response.text().then(function(text){
                var result = JSON.parse(text)
                if (result.error) {
                  vue.error = result.error
                } else {
                  vue.redirect()
                }
              })
            })
          } else {
            vue.error = 'Passwords do not match.'
          }
        },
        redirect: function () {
          var redirect = '/'
          window.location.href = redirect
        }
      },
      computed: {
      },
      mounted: function () {
      }
    })

  </script>
</body>
</html>
