<!DOCTYPE html>
<html>
<head>
 <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="stylesheets/vuetify.min.css">
</head>

<body>
 <div id="app">
   <v-app>
       <v-container fluid fill-height class="loginOverlay">

         <!-- Landing Page Layout -->
          <v-layout align-center justify-center v-if="state === 'landing'">
            <v-flex xs12 sm8 md4 elevation-2>
              <v-toolbar class="pt-2">
                <v-img src="images/dxy_full.png" height=50 contain></v-img>
              </v-toolbar>
              <v-card>
                <v-card-text class="pt-2">
                  <div>
                      <v-form @submit.prevent v-model="valid" ref="form">
                        Suck a big dick.
                        <v-text-field
                          @keyup.enter="submit"
                          prepend-icon="lock"
                          label="New password"
                          v-model="password"
                          min="8"
                          :append-icon="e1 ? 'visibility' : 'visibility_off'"
                          :append-icon-cb="() => (e1 = !e1)"
                          :type="e1 ? 'password' : 'text'"
                          :rules="passwordRules"
                          required
                        ></v-text-field>
                        <v-layout>  
                            <v-btn @click="submit" :class="{ 'blue darken-4 white--text' : valid, disabled: !valid}">Confirm New Password</v-btn>
                        </v-layout>
                      </v-form>
                  </div>
                  <div v-if="error !== undefined">
                    <v-alert
                      :value="alert"
                      color="error"
                      icon="priority_high"
                      outline
                    >
                      {{error}}
                    </v-alert>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          
       </v-container>
   </v-app>
 </div>

 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify@1.5.16/dist/vuetify.js"></script>

 <script>

    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    // Vue
    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          valid: true,  
          e1: true,
          password: '',
          passwordRules: [
              (v) => !!v || 'Password is required',
              (v) => /^\S{1}(?:.){4,}\S$/.test(v) || 'Password must be at least 6 charactes long and cannot begin or end with a space.',
            ],
          error: undefined,
          alert: false,
          state: 'landing',
        }
      },
      methods: {
        submit () {
              alert = false;
              this.try_reset_password()
        },
        try_reset_password: function () {
          console.log("got here")
          let vue = this
          console.log(vue.password)
          vue.error = undefined
          var search_params = new URLSearchParams(window.location.search)
          var password_reset_token = search_params.get('passwordResetToken')
          fetch("/reset_users_password", {
              body: JSON.stringify({
                passwordResetToken: password_reset_token,
                password: vue.password,
              }),
              method: "POST",
              headers: new Headers({'Content-Type': 'application/json'})
            }).then(function(response){
              response.text().then(function(text){
                var result = JSON.parse(text)
                console.log(result)
                if (result.error) {
                  vue.error = result.error
                  alert = true;
                } else {
                  vue.redirect()
                }
              })
            })
        },
        redirect: function () {
          var redirect = '/'
          window.location.href = redirect
        }
      },
      computed: {
      },
      mounted: function () {
      }
    })

  </script>


</body>
</html>